<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
<div class="container">
    <div class="square" th:each="Car : ${carList}">
        <div>
            <label>ID:</label>
            <span th:text="${Car.id}">ID</span>
        </div>
        <div>
            <label>Brand:</label>
            <span th:text="${Car.brand}">Brand</span>
        </div>
        <div>
            <label>Model Year:</label>
            <span th:text="${Car.modelYear}">Model Year</span>
        </div>
        <div>
            <label>Type:</label>
            <span th:text="${Car.type}">Type</span>
        </div>
        <div>
            <label>Colour:</label>
            <span th:text="${Car.colour}">Colour</span>
        </div>
        <div>
            <label>License Plate:</label>
            <span th:text="${Car.licensePlate}">License Plate</span>
        </div>
        <img th:src="@{'/images/' + ${Car.image}}" alt="Car Image">
    </div>
</div>
<div class="buttons">
    <div class="modify-forms">
        <a th:href="@{/getCreateCar}" class="btn">Create new car</a>
        <form th:action="@{/showCar}" method="get" class="modify-form">
            <input type="number" name="id" placeholder="Enter Car ID" required>
            <button type="submit" class="btn">Read</button>
        </form>

        <form th:action="@{/deleteCar}" method="post" class="modify-form">
            <input type="number" name="id" placeholder="Enter ID of car to delete" required>
            <button type="submit" class="btn">Delete</button>
        </form>

        <form th:action="@{getUpdateCar}" method="get" class="modify-form">
            <input type="number" name="id" placeholder="Enter Car ID to Update" required>
            <button type="submit" class="btn">Update</button>
        </form>
    </div>
</div>